<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LuckPerms Group Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.14/lodash.min.js"></script>
</head>
<body>
<header><h1>LuckPerms Group Generator</h1></header>

<main id="app">
    <div class="groups">
        <div class="input inherit">
            <label>
                <span>
                    <input type="checkbox" v-model="inherit">
                    <span>Inherit groups</span>
                </span>
                <span>Adds the previous group as a parent</span>
            </label>
        </div>
        <div class="input track">
            <label>
                <span>
                    <input type="checkbox" v-model="makeTrack">
                    <span>Create track</span>
                </span>
                <span>Adds the groups to a track which you can promote across</span>
            </label>
            <input v-if="makeTrack" type="text" @input="debounceTrackInput" placeholder="Track name">
        </div>
        <div class="input group">
            <input type="text" v-model.trim="newGroup" placeholder="Add a group" @keydown.enter="addGroup(newGroup)">
            <button type="submit" @click="addGroup(newGroup)">&plus;</button>
        </div>
        <draggable class="group-list" v-model="groups">
            <div v-for="group in groups">
                {{ group }}
            </div>
        </draggable>
        <span v-if="groups.length">Tip: re-order groups by dragging them!</span>
    </div>

    <div class="commands">
        <h2 v-if="commands.length">Commands</h2>
        <transition-group tag="ul" name="slide">
            <li v-for="(command, index) in commands" :key="command">
                <code>{{ command }}</code>
            </li>
        </transition-group>
        <template v-if="commands.length">
            <button @click="download">
                Download import file
            </button>
            <p>To import your groups:</p>
            <ol>
                <li>Download the import file</li>
                <li>Add the file to the root your LuckPerms plugin folder (where your config is)</li>
                <li>Run the command: <br> <code>/lp import luckperms-import.txt</code></li>
                <li>Your groups should now be imported and configured on your server</li>
            </ol>
        </template>
    </div>
</main>

<footer>
    <span>&copy; 2019 <a href="https://github.com/turbotailz">Turbotailz</a></span>
    &bull;
    <span><a href="https://github.com/turbotailz/luckperms-group-generator/issues">Issues or suggestions?</a></span>
    &bull;
    <span><a href="https://github.com/turbotailz/luckperms-group-generator">Source</a></span>
</footer>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            groups: [],
            newGroup: '',
            inherit: true,
            makeTrack: false,
            trackName: '',
        },
        methods: {
            addGroup(group) {
                if (group !== '') {
                    let groupName = group.toLowerCase();

                    groupName = groupName.replace(' ', '-');

                    this.groups.push(groupName);
                    this.newGroup = '';
                }
            },
            download() {
                download(this.commands.join('\r\n'), 'luckperms-import.txt', 'text/plain');
            },
            debounceTrackInput: _.debounce(function(e) {
                this.trackName = e.target.value;
            }, 500),
        },
        computed: {
            commands() {
                let commands = [];

                if (this.makeTrack && this.trackName !== '') commands.push('/lp createtrack ' + this.trackName);

                this.groups.forEach((group, index) => {
                    commands.push('/lp creategroup ' + group);

                    if (this.inherit && index !== 0) commands.push('/lp group ' + group + ' parent add ' + this.groups[(index - 1)]);

                    if (this.makeTrack && this.trackName !== '') commands.push('/lp track ' + this.trackName + ' append ' + group);
                });

                return commands;
            }
        },
    })
</script>
</body>
</html>
