* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #333;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

header {
    background: #444;
    padding: 1em;
}

h1 {
    margin: 0;
    text-align: center;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 800px;
}

footer {
    background: #222;
    text-align: center;
    padding: 1em;
}

a {
    color: #0F0;
}

.groups {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.input {
    display: flex;
}

input {
    font: inherit;
    padding: .5em 1em;
    border: 0;

}

button {
    background: #CCC;
    border: 0;
    font: inherit;
    padding: .5em 1em;
    font-weight: bold;
}

.group-list {
    display: flex;
    flex-direction: column;
}

.group-list > div {
    padding: .5em 1em;
    border-bottom: 1px solid rgba(255,255,255,.1);
}