* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #333;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

header {
    background: #444;
    padding: 1em;
}

h1 {
    margin: 0;
    text-align: center;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
}

footer {
    background: #222;
    text-align: center;
    padding: 1em;
}

footer span {
    margin: 0 .5em;
}

a {
    color: #0F0;
}

a:hover {
    text-decoration: none;
}

.groups {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 20vw;
}

.input {
    display: flex;
}

.input.track {
    flex-direction: column;
    margin-bottom: .5em;
}

.input label {
    padding: .5em 0;
    cursor: pointer;
    opacity: .8;
}

.input label:hover {
    opacity: 1
}

input[type=text] {
    font: inherit;
    padding: .5em 1em;
    border: 0;
}

input[type=checkbox] {

}

button {
    background: #CCC;
    border: 0;
    font: inherit;
    padding: .5em 1em;
    font-weight: bold;
    cursor: pointer;
    opacity: .8;
}

button:hover {
    opacity: 1;
}

.group-list {
    display: flex;
    flex-direction: column;
}

.group-list > div {
    padding: .5em 1em;
    border-bottom: 1px solid rgba(255,255,255,.1);
    cursor: grab;
}

.group-list > div:hover {
    background: rgba(255,255,255,.1);
}

.group-list > div:active {
    cursor: grabbing;
    background: rgba(255,255,255,.2);
}

.commands {
    width: 40vw;
    padding: 2em;
}

h2 {
    margin: 0 0 1em;
}

.commands ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.commands li {
    padding: 0 0 .25em;
}

.commands button {
    margin-top: 2em;
}

code {
    background: rgba(0, 0, 0, .2);
    padding: .25em .5em;
    display: inline-block;
}

.slide-enter-active, .slide-leave-active, .slide-move {
    transition: all .2s;
}

.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(100%);
}